name: check generated files

# Controls when the action will run.
on:
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  generated-up-to-date:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Check if the pool data is valid.
        run: python3 qa/check-data.py
      - name: Check if the generated files are up-to-date
        run: ./qa/check-generated-up-to-date.sh
